.screen__disclaimer {
  padding: 5%;
}

.screen__disclaimer-message {
  font-family: 'PressStart2P', monospace;
  display: inline-block;
  text-align: justify;
  line-height: 2;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards, fadeOut 1s ease-in 5.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0%;
  }
}

@media (max-width: 375px) {
  .screen__disclaimer-message {
    font-size: 7.5px;
  }
}
