.screen__disclaimer {
  padding: 5%;
}

.screen__disclaimer-message {
  font-family: 'PressStart2P', monospace;
  display: inline-block;
  text-align: justify;
  line-height: 2;
  color: white;
  font-size: clamp(0.44rem, 1vw, 0.5rem);
  text-transform: uppercase;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards, fadeOut 1s ease-in 5.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0%;
  }
}
