.screen,
.screen__background {
  position: absolute;
  border-radius: 4%;
}

.screen__background {
  width: 100%;
  height: 100%;
}

.screen__fade {
  width: 103%;
  height: 103%;
  border-radius: 3%;
}

.screen__background {
  overflow: hidden;
}
