.screen,
.screen__background,
.screen__foreground {
  position: absolute;
  border-radius: 4%;
}

.screen__background,
.screen__foreground {
  width: 100%;
  height: 100%;
}

.screen__background {
  overflow: hidden;
}
