.screen__menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.screen__menu-logo {
  width: 90%;
}

.screen__menu-mario {
  width: 17%;
}

.screen__menu-start {
  position: relative;
  top: -5%;
  font-family: 'PressStart2p', monospace;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  animation: blink linear infinite 1.5s;
}

@keyframes blink {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@media (max-width: 374px) {
  .screen__menu-start {
    font-size: 10.5px;
  }
}
