.gameboy {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  max-width: 430px;
  max-height: 934.88px;
}

.gameboy__shell {
  max-width: 100vw;
  max-height: 100vh;
  border: 1px solid black;
}
