.gameboy {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  aspect-ratio: 430 / 932;
  height: 100%;
}

@media (min-width: 1200px) {
  .gameboy {
    max-height: 932px;
  }
}
