.button {
    aspect-ratio: 1 /1 ;
    filter: drop-shadow(0 0.2em 0.2em rgba(0, 0, 0, 0.25));
}


.button,
.button__shadow,
.button__light,
.button__surface, 
.button__label {
    position: absolute;
    border-radius: 50%;
}

.button__light,
.button__shadow,
.button__surface,
.button__label {
    width: 84.5%;
    height: 84.5%;
}

.button__light {
    left: 5%;
    top: 5%;
    background: #BBAA85;
}

.button__light--pressed {
    background: #9e9071;
}

.button__shadow {
    left: 10%;
    top: 10%;
    background: #261000;
}

.button__surface {
    font-size: clamp(12px, 50%, 29.4px);
    left: 7.5%;
    top: 7.5%;
    background: #4C4B50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: #2D2F2F;
    text-shadow:
    -0.015em -0.015em 0 #252626,
    0.015em -0.015em 0 #252626,
    -0.015em  0.015em 0 #252626,
       0.015em  0.015em 0 #252626;
}

.button__surface--pressed {
    box-shadow: inset 0.08em 0.08em 0.5em rgba(0, 0, 0, 0.53);
    stroke: #252626;
}