html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
  width: 100%;
}

button {
    all: unset;
    cursor: pointer;
}

p {
    all: unset;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-regular.woff2') format('woff2');
}