.screen__transition {
  position: absolute;
  border-radius: 4%;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.screen__transition--fade,
.screen__transition--overlay,
.screen__transition--slide::before {
  background: #0a0a0a;
}

.screen__transition--overlay,
.screen__transition--slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen__transition--fade {
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.screen__transition--overlay {
  animation-name: fadeOut;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.screen__transition--slide::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  animation: slide 2s linear forwards;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.screen__transition-text {
  font-size: 0.7em;
  text-transform: uppercase;
  font-family: 'PressStart2p', monospace;
  position: relative;
  bottom: 2%;
  color: yellow;
}

@media (max-width: 375px) {
  .screen__transition-text {
    font-size: 0.5em;
  }
}

@media (max-width: 410px) {
  .screen__level-start-title {
    font-size: 0.6em;
  }
}
