.screen__background--disclaimer {
  background: #0a0a0a;
}

.screen__disclaimer {
  padding: 5%;
}

.screen__statement {
  font-family: 'PressStart2P', monospace;
  display: inline-block;
  text-align: justify;
  line-height: 2;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeInDisclaimer 1s ease-in forwards,
    fadeOutDisclaimer 1s ease-in 5.5s forwards;
}

@keyframes fadeInDisclaimer {
  to {
    opacity: 100%;
  }
}

@keyframes fadeOutDisclaimer {
  to {
    opacity: 0%;
  }
}

@media (max-width: 375px) {
  .screen__statement {
    font-size: 7.5px;
  }
}
