.screen__tutorial {
  background: #0a0a0a;
  width: 85%;
  margin: 0 auto;
  position: relative;
  padding: 2% 4% 2.3%;
  top: 4%;
}

.screen__tutorial-message {
  display: inline-block;
  text-align: justify;
  line-height: 1.6;
  font-family: 'PressStart2p', monospace;
  color: white;
  font-size: 10px;
}

@media (max-width: 375px) {
  .screen__tutorial-message {
    font-size: 8px;
  }
}
