html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

p {
  all: unset;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/press-start-2p.woff2') format('woff2');
  font-display: swap;
}
